{% include 'header.html' %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Form Barang</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Barang masuk</li>
            </ol>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="container-fluid">
        <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            
            <!-- Horizontal Form -->
            <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Form</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="card-body">
                <div class="form-group row">
                    <label for="inputkodebarang" class="col-sm-2 col-form-label">Kode Barang</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputkodebarang" placeholder="LTP-01">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputkodebarang" class="col-sm-2 col-form-label">Nama Barang</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputkodebarang" placeholder="Laptop Lenovo">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputkodebarang" class="col-sm-2 col-form-label">Total Barang Masuk</label>
                    <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputkodebarang" placeholder="10">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputkodebarang" class="col-sm-2 col-form-label">Harga Barang per Uniit</label>
                    <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputkodebarang" placeholder="Rp 10000000">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">Remember me</label>
                    </div>
                    </div>
                </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                <button type="submit" class="btn btn-info">Sign in</button>
                <button type="submit" class="btn btn-default float-right">Cancel</button>
                </div>
                <!-- /.card-footer -->
            </form>
            </div>
            <!-- /.card -->

        </div>
        <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% include 'footer.html' %}